@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: #BB1C3D;
  --color-brand-dark: #9f1834;
  --color-hero: #242839;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}
